
body {
  padding-top: 5px;
  padding-bottom: 0px;
}

/**
 * Diable mobile version
 * http://stackoverflow.com/a/23536146/605890
 */

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

/**
 * https://work.smarchal.com/twbscolor/css/ef4070b70032ecf0f1ecdbff0
 */

.navbar-default {
  background-color: #ffffff;
  border-color: #ef4070;
}
.navbar-default .navbar-brand {
  color: #ef4070;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ef4070;
}
.navbar-default .navbar-nav > li > a {
  color: #ef4070;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ef4070;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ef4070;
}
.navbar-default .navbar-toggle {
  border-color: #ef4070;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ef4070;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ef4070;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ef4070;
}
.navbar-default .navbar-link {
  color: #ef4070;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ef4070;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ef4070;
  }
}

/**
 * Organicity
 */

.navbar {
  margin-bottom: 20px;
  border-radius: 0px;
}

.navbar-default {
  border-width: 2px;
}

.navbar .logo {
	height:40px; top:-10px; position:relative
}

.navbar-default .navbar-nav > li > a {
	font-weight: bold;
	font-size:18px;
}

.userCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 44px;
    height: 44px;
    padding-top: 11px;

    background: #ef4070;
    border: 0px;
    color: #FFF;
    text-align: center;

    font-size: 18px;
	font-weight: bold;

	top: 3px;
	position:relative
}
